SECRET_KEY=your-django-secret-key
DEBUG=False
ALLOWED_HOSTS=*
DATABASE_URL=postgresql://user:password@host/dbname?sslmode=require
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
CLOUDINARY_URL=cloudinary://api_key:api_secret@cloud_name
BREVO_API_KEY=xkeysib-your-brevo-api-key
ADMIN_USERNAME=your_admin_username
ADMIN_PASSWORD=your_admin_password

